<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                               integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Analysis Result</title>
    </head>
    <body>
        <nav>
            <a href="{{ url_for('home') }}" class="navbutton">Analyze Essay</a>
            <a href="{{ url_for('home_twitter') }}" class="navbutton">Analyze Twitter</a>
            <a href="{{ url_for('select_university') }}" class="navbutton">University Insights</a>
        </nav> 
        <div class="container p-3">
            <h1>Analysis Result ({{ method }}) </h1>
            <a href="{{ url_for('home') }}"><button>Back</button></a>
            <h2><span style="font-weight: bold">Matching score: </span> {{ score }}</h2>
            <table style="border-spacing: 10px; font-size: 20px;">
                <tr>
                    <td style="font-weight: bold;">Sections</td>
                    <td style="font-weight: bold;">User</td>
                    <td style="font-weight: bold;">{{ university }}</td>
                </tr>
                {% for key in message %}
                    <tr>
                        <td style="font-weight: bold;">{{ key.upper() }}</td>
                    </tr>
                    
                    {% for facet in message[key] %}
                    {% if key != 'consumption_preferences' %}
                        {% if message[key][facet][university] == message[key][facet]['user'] %}
                            <tr>
                                <td>{{ id_name[facet] }}</td>
                                <td>{{ message[key][facet][university] }}</td>
                                <td>{{ message[key][facet]['user'] }}</td>
                            </tr>
                        {% else %}
                            <tr style="background-color: red; color: white; font-weight: bold">
                                <td>{{ id_name[facet] }}</td>
                                <td>{{ message[key][facet][university] }}</td>
                                <td>{{ message[key][facet]['user'] }}</td>
                            </tr>
                        {% endif %}
                    {% else %}
                        {% if message[key][facet] %}
                            <tr>
                                <td>{{ id_name[facet] }}</td>
                                <td>{{ message[key][facet] }}</td>
                            </tr>
                        {% else %}
                            <tr style="background-color: red; color: white; font-weight: bold">
                                <td>{{ id_name[facet] }}</td>
                                <td>{{ message[key][facet] }}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                {% endfor %}
            </table>
            </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script>
$(function() {
    $('#form').submit(function() {
        $('#loader').css('visibility', 'visible');
    });
}); 
        </script>
    </body>
</html>
