<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>UniInsights</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                               integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <style>
#outer
{
    width:100%;
}
.inner
{
    display: inline-block;
}
        </style>
    </head>
    <body>
        <nav>
            <a href="{{ url_for('home') }}" class="navbutton">Analyze Essay</a>
            <a href="{{ url_for('home_twitter') }}" class="navbutton">Analyze Twitter</a>
            <a href="{{ url_for('select_university') }}" class="navbutton">University Insights</a>
        </nav> 
        <div class="container p-3">
            <h1>UniInsights: Twitter Analysis</h1>
            <form method="POST"
                  id="form"
                  action="{{ url_for('analyze_user_twitter') }}">
                Your Twitter handle: <input name="twitter"></input>
                <br>
                <br>
                Select your favorite university: 
                <select name="university">
                    {% for university in universities%}
                    <option value="{{ university }}">{{ university }}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                <input type="submit" value="Analyze">
            </form>
            <div id='loader'>
                <p>Processing data. Please wait for a few seconds...</p>
                <div class="ring"></div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script>
$(function() {
    $('#form').submit(function() {
        $('#loader').css('visibility', 'visible');
    });
}); 
        </script>
    </body>
</html>
